get_prop(platform_app, camera_prop);
binder_call(platform_app, hal_sensors_default);

allow platform_app rootfs:dir getattr;

allow platform_app init:unix_stream_socket { read write };
allow platform_app hal_sensors_default:unix_stream_socket { read write };

allow platform_app qemu_hw_mainkeys_prop:file {getattr open read};

allow platform_app ctl_LKCore_prop:file read;
#allow platform_app console_silent_prop:file read;
allow platform_app cnd_vendor_prop:file read;
allow platform_app boottime_prop:file read;
allow platform_app bootloader_boot_reason_prop:file read;
allow platform_app bluetooth_prop:file read;
allow platform_app bg_daemon_prop:file read;
allow platform_app bg_boot_complete_prop:file read;
#allow platform_app adbtcp_prop:file read;


