get_prop(untrusted_app, camera_prop);
get_prop(untrusted_app_25, camera_prop);
allow untrusted_app sysfs_zram:dir { search read };
allow untrusted_app sysfs_zram:file { open read getattr };

get_prop(untrusted_app, net_dns_prop);

allow untrusted_app firmware_file:dir read;
allow untrusted_app fsg_file:dir read;
allow untrusted_app net_dns_prop:file read;
allow untrusted_app persist_file:dir getattr;
allow untrusted_app persist_file:filesystem getattr;

allow untrusted_app vendor_camera_prop:file read;
allow untrusted_app adspd_prop:file read;
allow untrusted_app bg_boot_complete_prop:file read;
allow untrusted_app bg_daemon_prop:file read;
allow untrusted_app bluetooth_prop:file read;
allow untrusted_app runtime_event_log_tags_file:file {open read};

allow untrusted_app proc_vmstat:file getattr;
allow untrusted_app bootloader_boot_reason_prop:file read;
allow untrusted_app boottime_prop:file read;
allow untrusted_app cnd_vendor_prop:file read;
#allow untrusted_app console_silent_prop:file read;
#allow untrusted_app adbtcp_prop:file read;
allow untrusted_app ctl_LKCore_prop:file read;
allow untrusted_app ctl_bootanim_prop:file read;
allow untrusted_app ctl_bugreport_prop:file read;
allow untrusted_app ctl_console_prop:file read;

allow untrusted_app cameraproxy_service:service_manager find;
allow untrusted_app meminfo_service:service_manager find;
allow untrusted_app netd_service:service_manager find;
allow untrusted_app netd_listener_service:service_manager find;
allow untrusted_app network_score_service:service_manager find;
allow untrusted_app network_time_update_service:service_manager find;
allow untrusted_app network_watchlist_service:service_manager find;
allow untrusted_app otadexopt_service:service_manager find;
allow untrusted_app overlay_service:service_manager find;
allow untrusted_app package_native_service:service_manager find;
allow untrusted_app perfprofd_service:service_manager find;
allow untrusted_app pinner_service:service_manager find;
#allow untrusted_app pocket_service:service_manager find;
allow untrusted_app processinfo_service:service_manager find;
allow untrusted_app recovery_service:service_manager find;
allow untrusted_app scheduling_policy_service:service_manager find;
allow untrusted_app secure_element_service:service_manager find;
allow untrusted_app serial_service:service_manager find;
#allow untrusted_app stats_service:service_manager find;
#allow untrusted_app statscompanion_service:service_manager find;
allow untrusted_app storaged_service:service_manager find;
allow untrusted_app system_update_service:service_manager find;
allow untrusted_app thermal_service:service_manager find;
allow untrusted_app updatelock_service:service_manager find;
allow untrusted_app per_mgr_service_old:service_manager find;
allow untrusted_app vold_service:service_manager find;
allow untrusted_app wificond_service:service_manager find;
allow untrusted_app wifiscanner_service:service_manager find;
allow untrusted_app window_service:service_manager find;

allow untrusted_app kernel:system  module_request;
