#allow untrusted_app pocket_service:service_manager find;
allow untrusted_app stats_service:service_manager find;
allow untrusted_app statscompanion_service:service_manager find;
